@use "../global" as *;
@use "../partials" as *;



.section-title  {
   color: $black2;
  @include font($primaryFont,20,extrabold,normal,38);
  font-weight: 600;

  @include breakpoint(mobile576) {
  @include font($primaryFont,30,extrabold,normal,38);
  font-weight: 700;


  }

}
.services {
  background: $black;
  color: $white;
  padding: size(60) size(0);


  .service-title {
    @include flex;
    align-items: center;
    gap: size(14);
  }

  .heading-link {
    @include flex-between;
    align-items: center;
    margin-top: size(10);
    flex-wrap: wrap;

    .service-heading {
      color: $white;
      @include font($primaryFont, 20, medium, normal, 30);

      @include breakpoint(mobile576) {
        @include font($primaryFont, 28, medium, normal, 40);

      }

      @include breakpoint(tab992) {
        @include font($primaryFont, 40, medium, normal, 50);

      }
    }
  }

  .round-link {

    .round-icon {}

    a {
      color: $white;
      text-decoration: none;
      margin-left: size(-30);
      @include font($primaryFont, 14, medium, normal, 30);
      @include hover {
        text-decoration: underline;
      }

    }
  }

  .services-wrapper {
    padding: size(50) size(10);
    @include flex-column;
    gap: size(20);

    .single-service {
      @include flex-between;
      gap: size(100);
      @include transitiontransform;

      .left-image {
        display: none;
        min-width: size(160);

        @include breakpoint(tab992) {
          display: block;
        }
      }

      .right-content {
        border-bottom: 1px solid #454545;
        flex: 1;
        @include flex-between;
        align-items: center;

        .content {
          max-width: size(560);
          @include flex-column;
          gap: size(14);

          .service-title {
            color: $white;
            @include font($primaryFont, 20, medium, normal, 30);
            @include breakpoint(mobile576) {
            @include font($primaryFont, 24, medium, normal, 30);

            }
          }

          .service-content {
            color: $white;
            @include font($primaryFont, 12, normal, normal, 20);
            @include breakpoint(mobile576) {
            @include font($primaryFont, 14, normal, normal, 20);

            }

          }
        }

        .icon {
          svg {
            @include square(20);
            display: inline-block;
          }
        }
      }

      @include hover {
        transform: translateY(-4px);
      }

    }
  }


}

.portfolio {
  .section-title  {
    padding-top: size(20);
    @include flex;
    align-items: center;
    gap: size(10);
    justify-content: center;
    @include font($primaryFont,14,normal,normal,20);

  }

  .section-title-big {
    @include font($primaryFont,22,semibold,normal,30);
    padding: size(10);
    color: $black2;
    @include breakpoint(mobile576) {
    @include font($primaryFont,30,extrabold,normal,40);
    }
    @include breakpoint(tab992) {
    @include font($primaryFont,38,extrabold,normal,50);
      padding: size(20) size(0);
    }
  }
}

.round-link {

  .round-icon {}

  a {
    color: $white;
    text-decoration: none;
    margin-left: size(-30);
    @include font($primaryFont, 14, medium, normal, 30);
    @include hover {
      text-decoration: underline;
    }

  }
}